
.sw-btn {
    @apply text-white font-bold py-2 px-5 rounded-full tracking-wide transition duration-500 ease-in-out;
    &:hover {
        @apply text-white;
        text-decoration: none !important;
    }
    &:focus {
        @apply text-white;
        text-decoration: none !important;
    }
    &:disabled, &:disabled:hover {
        @apply bg-gray-400;
    }
}

.sw-btn-primary {
    @apply bg-blue-400;
    &:hover {
        @apply bg-blue-600;
    }
    &:focus {
        @apply ring ring-blue-200;
    }
}

.sw-btn-secondary {
    @apply bg-green-500;
    &:hover {
        @apply bg-green-700;
    }
    &:focus {
        @apply ring ring-green-200;
    }
}

.sw-btn-warning {
    @apply bg-yellow-400;
    &:hover {
        @apply bg-yellow-500;
    }
    &:focus {
        @apply ring ring-yellow-200;
    }
}

.sw-btn-danger {
    @apply bg-red-400;
    &:hover {
        @apply bg-red-600;
    }
    &:focus {
        @apply ring ring-red-200;
    }
}

.sw-btn-circle {
    @apply
        shadow
        text-white
        font-bold
        p-2
        rounded-full
        tracking-wide
        transition
        duration-500
        ease-in-out;

    &:hover {
        text-decoration: none !important;
    }
    &:focus {
        text-decoration: none !important;
    }
}

.sw-btn-white {
    @apply bg-white text-black;

    &:hover {
        @apply bg-blue-600 text-white;
    }

    &:focus {
        @apply ring ring-blue-200;
    }

    &:disabled {
        @apply bg-white text-black opacity-50 cursor-not-allowed;
    }
}
