@import './login/global.css';
@import './login/form.css';
@import './login/animation-bubbles.css';
.logo {
    width: auto;
    height: 5rem;
    padding: 0.5rem;
}

.strech-page {
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
}

.strech-page>* {
    width: 100%;
    margin: auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.erro-msg {
    font-weight: 600;
    color: #FFF;
    background-color: #F00;
    border: 1px solid hsla(0, 75%, 75%, 0.2);
    border-radius: 3px;
}

.wrapper {
    height: 100%;
    position: relative;
    border-top: 3px solid #bbc4d1;
    border-bottom: 3px solid #bbc4d1;
}

.wrapper.form-success .container h1 {
    -webkit-transform: translateY(85px);
    -ms-transform: translateY(85px);
    transform: translateY(85px);
}

.container {
    max-width: 600px;
    margin: auto;
    /* padding: 80px 0; */
    text-align: center;
}

.container h1 {
    font-size: 40px;
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-timing-function: ease-in-put;
    transition-timing-function: ease-in-put;
    font-weight: 200;
}

.btn-staff-login {
    color: #333852;
    background-color: white;
    font-weight: bold;
    font-size: x-small;
    text-decoration: none;

    margin: 10px auto;
    margin-bottom: -0.5rem;
    padding: .25rem 0.5rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    border: 0;
    border-radius: 3px 3px 0px 0px;
    width: auto;
    cursor: pointer;
    transition-duration: 0.25s;
}


.btn-staff-login-bottom {
    display: block;
}

.container-staff-login {
    position: absolute;
    bottom: 0;
    z-index: 2;
}

@media only screen and (min-width: 600px) {
    .container-staff-login {
        left: 90%;
    }
}
