/**
  * Css específico da página de política de funcionários
  * em: src/View/Politica/_FuncionariosPermissoes.liquid
  *
  * id base: #politicas-funcionarios
  */

#politicas-funcionarios .switch-toggle-panel {
    background-color: #f2f2f2;
    padding: 1.5rem;
    border-radius: 5px;
    margin-top: 3rem;
    margin-bottom: 3rem;
}


#politicas-funcionarios .switch-toggle-panel-details {
    margin: 1rem;
}

#politicas-funcionarios .funcionarios-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: -3rem;
    margin-left: -1rem;
    margin-right: -1rem;

}

#politicas-funcionarios .funcionarios-container > * {
    flex: 1 0 auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 3rem;
    margin-bottom: 0;
}

#politicas-funcionarios h2,
#politicas-funcionarios h3 {
    margin: 1rem;
    font-weight: bold;
}
