/** Switch toggle v2 */

/**
 * Usage
 *
 * <label class="switch-toggle" for="toggle-me">
 *     <input
 *         id="toggle-me"
 *         type="checkbox"
 *     >
 *     Hey, toggle me
 * </label>
 *
 */

label.switch-toggle {
    position: relative;
    padding-left: 54px;
    margin: 1rem;
    vertical-align: middle;
    min-height: 26px;
}

.switch-toggle input[type="checkbox"] {
    display: block;
    appearance: none;
    width: 0px;
    height: 0px;
    margin: 0px;
}

.switch-toggle input[type="checkbox"]::after {
    content: '';
    cursor: pointer;

    display: block;
    position: absolute;
    top: 0;
    left: 0;

    margin: 3px;

    width: 20px;
    height: 20px;
    border-radius: 9999px;

    background-color: #fff;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;

    z-index: 100;
}

.switch-toggle input:checked::after {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}

.switch-toggle input[type="checkbox"]::before {
    content: '';
    cursor: pointer;

    display: block;
    position: absolute;
    top: 0;
    left: 0;

    width: 44px;
    height: 26px;
    border-radius: 9999px;

    background-color: #ccc;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
}

.switch-toggle input:checked::before {
    background-color: #2196f3;
    background: linear-gradient(200deg, #00d2ff 0%, #3a47d5 100%)
}

.switch-toggle input:focus::before {
    box-shadow: 0 0 1px #2196f3;
}

.switch-toggle-group {
    display: flex;
    flex-wrap: wrap;
}
