.table-sticky-header th {
    position: sticky;
    top: 0;

    /* Corrige lacuna das bordas que não acompanham o scroll */
    border: none !important;
}

.table-scrollable {
    overflow-x: auto;
}
