{% extends "Layout/Page" %}

{% block heading %}
    Configurações | Escola | Políticas de acesso
{% endblock %}

{% block content %}
    <div class="box-search">
        <form onsubmit="event.preventDefault();sweduc.politicas.criarGrupo(event)">
            <label for="">
                Criar novo perfil
            </label>

            <input name="grupo" type="text" class="form-control">

            <button type="submit" class="btn primary-color mt-10px">
                Criar
            </button>
        </form>
    </div>

    <ul class="my-3-rem list-group">
        {% for grupo in grupos %}
        <li style="display: flex;" class="list-group-item">
            <span style="vertical-align: middle;">
                {{ grupo.nome }}
            </span>

            <div style="margin-left: auto;vertical-align: middle;">
                <button
                    type="button"
                    title="Editar"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    class="btn primary-color"
                    data-id="{{ grupo.id }}"
                    onclick="sweduc.carregarUrl('config/politicas/funcionarios/' + this.dataset['id'])"
                >
                    <i class="fa fa-edit"></i>
                </button>

                <button
                    type="button"
                    title="Excluir"
                    data-toggle="tooltip"
                    data-placement="bottom"
                    class="btn danger-color"
                >
                    <i class="fa fa-trash-alt"></i>
                </button>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}
