<div class="container">
    <div style="margin-bottom: 1rem;">
        <h3>
            {% block heading %}{% endblock %}
        </h3>
    </div>

    <div>
        {% block content %}{% endblock %}
    </div>
</div>
