.editorconfig
.env
.env.example
.git
.github
.gitignore
.idea
.phpunit.result.cache
.vscode
docker-compose.yml
docker/logs
docker/mysql
Dockerfile
docs
mkdocs.sh
mkdocs.yml
phinx.php
phpcs.xml
psalm.phar
psalm.xml
psysh
public/clientes/
README.md
resources/node_modules/
storage
tests
update.sh
vendor
